<!DOCTYPE html>
<html>

<head>
    <title>GNPS - NPAtlas Proxy</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <!-- A grey horizontal navbar that becomes vertical on small screens -->
    <nav class="navbar navbar-expand-sm bg-light navbar-light">
        <a class="navbar-brand" href="gnps.ucsd.edu">
            <img src="/static/img/GNPS_logo.png" alt="Logo" style="width:120px;">
        </a>


    </nav>

    <div id="app-4" class="container-fluid justify-content-center align-items-center">
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm text-center">
                <h2>GNPS - NPAtlas Proxy</h2>
            </div>
            <div class="col-sm"></div>
        </div>

        <hr>

        <div class="col-sm text-center">
            <h2>GNPS Library MS/MS Spectra</h2>
        </div>

        <div style="">
            <table class="table table-sm table-striped">
                <thead>
                  <tr>
                    <th>
                        Compound Name
                    </th>
                    <th>
                        Link
                    </th>
                  </tr>
                </thead>
                <tbody>
                    <tr v-for="spectrum in spectrumlist">
                        <td>{{spectrum.Name}}</td>
                        <td><a v-bind:href='https://gnps.ucsd.edu/ProteoSAFe/gnpslibraryspectrum.jsp?SpectrumID=' + {{spectrum.spectrum_id}}>{{spectrum.spectrum_id}}</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script>
    var app4 = new Vue({
        el: '#app-4',
        methods: {},
        data: {
            spectrumlist : JSON.parse( '((spectrumlist_json|tojson))' )
        }
    })
    </script>

</body>

</html>
